<h1>New Bookmark</h1>
<%= form_with(model: [@list, @bookmark], local: true) do |form| %>
  <div class="field">
    <%= form.label :movie_id, "Choose a Movie" %>
    <%= form.select :movie_id, options_for_select(Movie.all.map{ |m| [m.title, m.id] }) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit "Create bookmark" %>
  </div>
<% end %>
